Redirect /archives/126 http://blog.callumtaylor.net/applicationsingletonsjava-android
Redirect /archives/181 http://blog.callumtaylor.net/brainfuckinterpreterbrainfuckc
Redirect /archives/142 http://blog.callumtaylor.net/creatingacustomcontroljava-android
Redirect /archives/140 http://blog.callumtaylor.net/settingsurfaceviewastransparentjava-android
Redirect /archives/120 http://blog.callumtaylor.net/writeablebitmappixelarraycsharp-windowsphone7
Redirect /archives/116 http://blog.callumtaylor.net/usingxlibrarytabsjava-android
Redirect /archives/100 http://blog.callumtaylor.net/howtocreatecustomlayoutswithxmlattritubesjava-android
Redirect /archives/96 http://blog.callumtaylor.net/animationdrawablejava-android
Redirect /archives/82 http://blog.callumtaylor.net/convertingbytedataintoanimageofcolourscsharp
Redirect /archives/76 http://blog.callumtaylor.net/understandingbitwiseparametersjava
Redirect /archives/72 http://blog.callumtaylor.net/listviewsjava-android
Redirect /archives/68 http://blog.callumtaylor.net/customattributesinprojectswithprojectlibrariesjava-android
Redirect /archives/55 http://blog.callumtaylor.net/fixinghttprequestsforimagesinandroidjava-android
Redirect /archives/42 http://blog.callumtaylor.net/konamicodejava-android
Redirect /archives/24 http://blog.callumtaylor.net/mysqlbackupservicec